* {
  list-style-type: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
* a {
  color: black;
}
* h2 {
  font-size: 1.5em;
  font-weight: 800;
}
/********************************* HEADER *********************************/
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav {
  display: flex;
  align-items: center;
}
#logo {
  padding-left: 50px;
  margin-top: 25px;
}
#navbar {
  display: flex;
  height: 100px;
}
#navbar li {
  padding: 0 35px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar li:hover {
  border-top: 3px solid #0065fc;
}
#navbar a:hover {
  color: #0065fc;
}
#inscription {
  margin: 10px 40px 0 15px;
}
#inscription a {
  color: #0065fc;
  font-weight: bolder;
  font-size: 1.1em;
}
/********************************* Responsive Header *********************************/
@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 70px;
  }
  nav {
    justify-content: space-between;
    height: 60px;
    width: 100%;
    margin-top: 10px;
    border-bottom: 4px solid #f2f2f2;
  }
  #navbar {
    width: 100%;
  }
  #navbar li {
    width: 50%;
  }
  #navbar li:hover {
    border-bottom: 4px solid #0065fc;
    border-top: 0;
    margin-bottom: 16px;
  }
  #logo {
    position: relative;
    left: -20px;
  }
  #inscription {
    position: absolute;
    margin: 0;
    top: 35px;
    right: 25px;
  }
}
/********************************* ACCUEIL *********************************/
#accueil {
  margin-left: 50px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 1em;
}
#accueil p {
  padding-top: 10px;
  font-weight: 400;
}
/********************************* Responsive Accueil *********************************/
@media screen and (max-width: 700px) {
  #accueil {
    margin-left: 20px;
    font-size: 0.9em;
    width: 300px;
  }
}
/********************************* SEARCHBAR *********************************/
#searchbar {
  border: 1px solid #f2f2f2;
  width: 450px;
  height: 50px;
  margin: 15px 0 15px 50px;
  display: flex;
  border-radius: 15px;
}
#pointeur {
  background-color: #f2f2f2;
  border-radius: 15px 0 0 15px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#text {
  width: 250px;
  font-size: 1.1em;
  border: none;
  padding-left: 10px;
  margin-right: auto;
  font-weight: 600;
}
#rechercher {
  width: 150px;
  height: 100%;
  color: white;
  background-color: #0065fc;
  border: none;
  border-radius: 0 15px 15px 0;
  font-size: 1.1em;
}
#loupe {
  display: none;
}
/********************************* Responsive Searchbar *********************************/
@media screen and (max-width: 700px) {
  #rechercher {
    display: none;
  }
  #loupe {
    background-color: #0065fc;
    color: white;
    width: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #searchbar {
    width: 350px;
    margin: 35px 0 10px 15px;
  }
}
/********************************* FILTRES *********************************/
#filtres {
  display: flex;
  width: 96vw;
  margin: 5px 0 30px 50px;
}
#filtres h3 {
  padding-top: 30px;
  margin-right: 25px;
  font-size: 110%;
}
.filtresBase {
  display: flex;
  align-items: center;
  border: 2px solid #d3cbcba9;
  border-radius: 200px;
  height: 40px;
  margin-top: 20px;
  margin-right: 20px;
}
.filtresBase :hover {
  color: #0065fc;
  cursor: pointer;
}
.filtreIcone {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 200px;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.filtreDescription {
  width: max-content;
  padding-right: 20px;
  font-weight: 600;
}
/********************************* Responsive Filtres *********************************/
@media screen and (max-width: 850px) {
  #filtres {
    flex-wrap: wrap;
    margin-left: 15px;
  }
  #filtres h3 {
    width: 100%;
    font-size: 1.1em;
    padding-bottom: 10px;
  }
  .filtresBase {
    margin-top: 10px;
  }
}
/********************************* INFOS *********************************/
#information {
  display: flex;
  align-items: center;
  margin: 0 0 20px 50px;
}
#information p {
  font-size: 0.8em;
  padding-top: 3px;
}
#iconeInformation {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(224, 220, 220);
  border-radius: 200px;
  margin-right: 15px;
  width: 25px;
  height: 25px;
  font-size: 0.8em;
  color: #0065fc;
}
/********************************* Responsive Informations *********************************/
@media screen and (max-width: 750px) {
  #information {
    margin: 35px 0 35px 20px;
  }
}
/********************************* HEBERGEMENTS *********************************/
/********************************* Base de la section *********************************/
#hebergements {
  display: flex;
  justify-content: space-around;
  width: 98%;
  margin: auto;
}
#Marseille,
#populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  height: 70vh;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#Marseille {
  width: 65%;
}
#populaires {
  width: 29%;
}
/********************************* Section Hebergements *********************************/

#Marseille h2 {
  width: 100%;
  padding: 15px 0 0px 30px;
}
#Marseille aside {
  width: 100%;
  text-align: left;
  padding: 15px 0 25px 30px;
  font-size: 1.2em;
  font-weight: bold;
}
.cartehotel {
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 5px -1px rgba(8, 7, 7, 0.281);
  height: 32%;
  width: 28%;
  position: relative;
  overflow: hidden;
}
.cartehotel img {
  position: absolute;
  height: 110%;
  width: 110%;
  top: -50px;
  left: -500px;
  right: -500px;
  margin: auto;
}
.hotelbase {
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  height: 33%;
}
.hoteldescription,
.populairesdescription {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 0 10px 5px 10px;
  font-size: 0.9em;
}

/********************************* Section Populaires *********************************/

#titrepopulaires {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 25px;
}
#titrepopulaires i {
  font-size: 1.4em;
}
.cartepopulaires {
  border: 5px solid white;
  border-radius: 20px;
  box-shadow: 0px 0px 5px -1px rgba(8, 7, 7, 0.281);
  height: 24%;
  width: 82%;
  display: flex;
}
.imagepopulaires {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 100%;
  border-radius: 20px 0 0 20px;
}
.imagepopulaires img {
  position: absolute;
  width: 130%;
  height: 110%;
  margin: auto;
  right: -500px;
  left: -500px;
}
.populairesbase {
  background-color: white;
  width: 67%;
  height: 100%;
}
.titrecarte {
  margin-bottom: 35px;
}
.titrecarte p {
  padding-top: 5px;
}
/********************************* Responsive Main *********************************/
@media screen and (max-width: 1200px) {
  #hebergements {
    flex-direction: column-reverse;
  }
  #Marseille {
    width: 95%;
    height: 100vh;
    margin: auto;
  }
  #populaires {
    flex-direction: row;
    width: 95%;
    height: 80vh;
    margin: auto;
    margin-bottom: 45px;
  }
  .cartehotel {
    width: 40%;
    height: 22%;
  }
  .cartepopulaires {
    width: 60%;
    height: 25%;
  }
}
@media screen and (max-width: 750px) {
  #hebergements {
    margin: 0;
  }
  #Marseille {
    justify-content: space-evenly;
    background-color: white;
    height: 220vh;
    width: 100vw;
  }
  #Marseille h2 {
    padding: 30px 0 10px 15px;
  }
  #titrepopulaires {
    padding: 30px 20px 15px 20px;
  }
  #populaires {
    height: 85vh;
    width: 100vw;
    border-radius: 0;
    padding-bottom: 30px;
  }
  .cartepopulaires {
    width: 90vw;
    height: 20vh;
  }
  .cartehotel {
    height: 13%;
    width: 90%;
  }
  .cartehotel img {
    height: 130%;
    width: 100%;
    top: -90px;
  }
}
/********************************* NOTES *********************************/
.note {
  display: flex;
  justify-content: flex-start;
  width: 80px;
}
.note i {
  color: #0065fc;
  transform: scale(0.8);
}
.note span {
  color: grey;
  transform: scale(0.8);
}
/********************************* ACTIVITES *********************************/
#titreActivite {
  margin: 3% 0 1% 3%;
}
#activites {
  width: 97%;
  height: 55vh;
  padding-top: 10px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.carteactivite,
#carteactivite2,
#carteactivite3,
.carteactivite4 {
  width: 23%;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 6px 1px rgba(128, 128, 128, 0.479);
}
.carteactivite img,
#carteactivite2 img,
#carteactivite3 img,
.carteactivite4 img {
  position: absolute;
  margin: auto;
  right: -500px;
  left: -500px;
}
.carteactivite {
  height: 100%;
}
.carteactivite img {
  height: 120%;
  width: 250%;
}
#carteactivite2 {
  height: 58%;
}
#carteactivite2 img {
  height: 180%;
  width: 120%;
  top: -150px;
}
#carteactivite3 {
  height: 36%;
}
#carteactivite3 img {
  height: 150%;
  width: 110%;
  top: -40px;
}
.carteactivite4 {
  height: 47%;
}
.carteactivite4 img {
  height: 130%;
  width: 150%;
  margin-top: -30px;
}
/********************************* Base Cartes Activités *********************************/
.activitébase {
  position: absolute;
  bottom: 0px;
  background-color: white;
  width: 100%;
  height: 50px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
}
.activitédescription {
  padding-left: 15px;
  font-size: 0.9em;
}
/********************************* Responsive Activités *********************************/
@media screen and (max-width: 1200px) {
  #activites {
    height: 800px;
  }
  .carteactivite,
  #carteactivite2,
  #carteactivite3,
  .carteactivite4 {
    width: 30%;
    height: 45%;
    margin: 0;
  }
  .carteactivite img,
  #carteactivite2 img,
  #carteactivite3 img,
  .carteactivite4 img {
    height: 350px;
    width: 450px;
    margin: auto;
    right: -500px;
    left: -450px;
    top: -20px;
  }
  #carteactivite2 img {
    height: 400px;
    width: 350px;
    margin: auto;
    right: -500px;
    left: -500px;
  }
}
@media screen and (max-width: 750px) {
  #activites {
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    padding: 0;
    height: 1280px;
  }
  .carteactivite,
  #carteactivite2,
  #carteactivite3,
  .carteactivite4 {
    height: 15%;
    width: 90%;
  }
  .carteactivite img,
  #carteactivite2 img,
  #carteactivite3 img,
  .carteactivite4 img {
    height: 140%;
    width: 120%;
    top: -40px;
  }
  #carteactivite2 img {
    height: 300%;
    top: -200px;
  }
  #titreActivite {
    margin: 15px 0 15px 20px;
  }
}
/********************************* FOOTER *********************************/
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  margin-top: 70px;
  width: 100%;
  height: 220px;
}
#apropos,
#noshebergements,
#assistance {
  width: 30%;
  height: 130px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
footer h3 {
  margin-bottom: 10px;
}
footer li {
  padding: 6px 0;
}
/********************************* Responsive Footer *********************************/
@media screen and (max-width: 750px) {
  footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 500px;
    padding-top: 10px;
    margin-top: 30px;
  }
  #apropos,
  #noshebergements {
    width: 80%;
    margin-top: 20px;
    padding-left: 25px;
  }
  #assistance {
    width: 80%;
    margin-bottom: 50px;
    padding-left: 25px;
  }
}
