* {
  list-style-type: none;
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}
/*           HEADER            */
@media screen and (max-width: 620px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 60px;
  }
  #logo {
    position: relative;
    left: -120px;
  }
  #inscription {
    position: absolute;
    right: 25px;
    top: 35px;
  }
  #borduretop {
    display: none;
  }
  #bordurebot {
    border: 2px solid #0065fc;
    position: absolute;
    width: 200%;
    bottom: 0px;
    margin-bottom: 15px;
  }
  #bordurebota {
    border: 2px solid #f2f2f2;
    position: absolute;
    width: 50%;
    right: 1px;
    top: 131px;
  }
}
header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
}
nav {
  display: flex;
  align-items: center;
}
#logo {
  margin-left: 25px;
  margin-top: 25px;
}
#navbar {
  display: flex;
  height: 100px;
  margin-right: 50px;
}
#navbar li {
  padding: 0 35px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#navbar a {
  text-decoration: none;
  align-items: center;
}
#navActivites a {
  color: black;
  text-align: center;
}
#active {
  position: relative;
}
#borduretop {
  position: absolute;
  border: 2px solid #0065fc;
  top: 0px;
  width: 100%;
}
#active a {
  color: #0065fc;
}
#inscription {
  color: #0065fc;
  font-weight: bolder;
  font-size: 1.1em;
  margin-top: 5px;
}
/*              ACCUEIL          */
#accueil {
  margin-left: 25px;
  margin-top: 25px;
  font-weight: 600;
  font-size: 1em;
}
#accueil p {
  padding-top: 10px;
  font-size: medium;
  font-weight: 400;
}
/*                  SEARCHBAR            */
@media screen and (min-width: 640px) {
  #searchbar {
    border: 1px solid #f2f2f2;
    width: 450px;
    height: 50px;
    display: flex;
    border-radius: 15px;
  }
  #pointeur {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text {
    width: 250px;
    font-size: 1.1em;
    border: none;
    padding-left: 10px;
    margin-right: auto;
    font-weight: 600;
  }
  #rechercher {
    width: 150px;
    height: 100%;
    color: white;
    background-color: #0065fc;
    border: none;
    border-radius: 0 15px 15px 0;
    font-size: 1.1em;
  }
  #loupe {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  #rechercher {
    display: none;
  }
  #loupe {
    display: inline;
    background-color: #0065fc;
    border: 1px solid #0065fc;
    width: 50px;
    color: white;
    border-radius: 15px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #searchbar {
    border: 1px solid #f2f2f2;
    width: 350px;
    height: 50px;
    display: flex;
    border-radius: 15px;
  }
  #pointeur {
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #text {
    width: 250px;
    font-size: 1.1em;
    border: none;
    padding-left: 10px;
    margin-right: auto;
    font-weight: 600;
  }
}
